<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome To My Application</title>
    <link rel="stylesheet" type="text/css"  th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />
</head>
<body>
    <div class="container-fluid text-center member-signature ">
        <h1> Welcome To My Application!!! </h1 >
        <h2>
            <a class="h2" th:href="@{/users}"> Menage Users </a>
        </h2>

        <div class="container-fluid border-dark ">

        </div>
    </div>
</body>
</html>